[submodule "addons/godot-notebook-plugin"]
	path = addons/godot-notebook-plugin
	url = https://github.com/BroknApples/godot-notebook-plugin.git
[submodule "gdextension/godot-cpp"]
	path = gdextension/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
